@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.account {
    &__title {
       @include text-preset1-mobile;
        font-weight: 200;
        margin-top: rem(24);
    }
    &__image {
        margin-top: rem(24);
        display:flex;
        justify-content: center;
        label {
            width: 50%;
            border: dashed 2px black;
            img {
                border-radius: 50%;
            }
        }
    }

    &__info {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:rem(20) rem(30) rem(40) rem(30);
        button {
            display:flex;
            background-color: transparent;
            border: none;
            color:$white;
            img {
                width:20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}

@include desktop-media {
    .account {
        &__title {
            @include text-preset1;
            margin-top: rem(56);
        }
        &__image {
            label {
                border: dashed 5px black;
            }
        }
        &__name {
            @include text-preset1;
        }
        &__bio {
            @include text-preset2-medium;
        }
    }
}