@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.account {
    &__title {
       @include text-preset1-mobile;
        font-weight: 200;
        margin-top: rem(24);
    }
    &__image {
        margin-top: rem(24);
        display:flex;
        justify-content: center;
        label {
            width: 50%;
            border: dashed 2px black;
            img {
                border-radius: 50%;
            }
        }
    }

    &__info {
        display:flex;
        flex-direction: column;
        row-gap: 30px;
        margin-top: rem(24);
        padding:0 rem(30) rem(40) rem(30);
        input {
            color:$white;
            background-color: transparent;
            outline:none;
            width:100%;
            border: solid 2px $blue500;
            border-radius: 8px;
            padding:10px;
            margin-top: 10px;
            @include text-preset2-mobile;
        }
        &--age {
            max-width:150px;
        }
    }
}