@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.bookmarked {
    display: flex;
    flex-wrap: wrap;
    .container.bookmarked {
        width:100%;
        row-gap: rem(16);
        column-gap: 24px;
    }
    .movies__search-result-title {
        width:100%;
    }
    &__title {
        @include text-preset1-mobile;
        margin: 0 rem(16) rem(24) rem(16);
        font-weight: 200;
    }
    .movie-card {
        position: relative;
        z-index: 2;
        width: calc(50% - 8px);
        &__title {
            @include text-preset4-mobile;
            margin-top: rem(8);
        }
        &__bookmark {
            position: absolute;
            width: 32px;
            height: 32px;
            z-index: 1;
            top: 8px;
            right: 8px;
            background-color: rgba(16, 20, 30, 0.5);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
         &__image {
            img.poster-img {
                border-radius: rem(8);
                margin-bottom: 8px;
            }
        }
        &__info-divider {
            margin:0 rem(8) 0 rem(8);
        }
        &__meta {
            display:flex;
            span {
                @include text-preset6-mobile;

            }
            img[alt="category Img"] {
                margin-right: rem(8);
            }
        }
    }
}

@include tablet-media {
    .movie-card {
        width: calc(33% - 14px) !important;
    }

    .movies {
        .container.bookmarked {
            row-gap: 25px;
            column-gap: 23px;
        }
    }
}

@include desktop-media {
    .bookmarked {
        &__title {
            margin: 0 0 rem(24) rem(149);
            @include text-preset1;
            width: 100%;
        }
        .movies__search-result-title {
            margin-left: 149px;
        }
        .movie-card {
            width: calc(25% - 19px) !important;
            &__title {
                @include text-preset3;
            }
            &__bookmark {
                width:42px;
                height:42px;
                top:15px;
                right:15px;
                img {
                    width: 17px;
                    height: 20px;
                }
            }
            &__meta {
                span {
                    @include text-preset5;
                }
            }
        }
    }
}