@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.header {
    &__navbar-wrapper {
        padding:rem(16);
        background-color: $blue900;
        img[alt="Img Avatar"] { height:24px; border-radius: 50%;} 
        img[alt="appLogo"] { height:20px; }
    }
    &__navbar {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navbar-buttons {
        display:flex;
        column-gap: rem(24);
    }
    &__navbar-buttons--img.active {
        path {
            fill: $white;
        }
    }
    &__nav-account-img {
        border-radius: 50%;
    }
}

@include tablet-media {
    .header {
        &__navbar-wrapper {
            margin:rem(16) rem(16) 0 rem(16);
            border-radius: rem(8);
        }
    }
}
@include desktop-media {
    .header {
        position:fixed;
        z-index: 4;
        top:32px;
        &__navbar{
            flex-direction: column;
            height: 90vh;
            width:26px;
        }
        &__navbar-wrapper {
            padding: rem(25) rem(30);
            margin: 0 0 0 rem(28);
            border-radius: 30px;
        }
        &__navbar-buttons {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }
    }
}