@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.search {
    &__wrapper {
        display:flex;
        margin-top: rem(24);
        margin-bottom: rem(24);
        img {
            margin-right: rem(16);
            height: 24px;
        }
        input {
            background-color: transparent;
            border: none;
            outline:none;
            color:$white;
            width:100%;
        }
        input::-webkit-search-cancel-button { display:none; }
    }
}
@include desktop-media {
    .search {
        &__wrapper {
            margin-top: rem(56);
            margin-bottom: rem(40);
            input {
                font-size: 24px;
            }
            img {
                height:35px;
            }
        }
    }
}