@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixin" as *;

.trending {
    display: flex;
    flex-direction: row;
    column-gap: rem(25);
    &__title {
        @include text-preset1-mobile;
        margin: 0 rem(16) rem(24) rem(16);
        font-weight: 200;
    }
    .movie-card-trending {
        position: relative;
        z-index: 2;
        width: calc(50% - 8px);
        &__title {
            @include text-preset1-mobile;
        }
        &__bookmark {
            position: absolute;
            width: 32px;
            height: 32px;
            z-index: 1;
            top: 8px;
            right: 8px;
            background-color: rgba(16, 20, 30, 0.5);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        &__image {
            position: relative;
            img.poster-img {
                border-radius: rem(8);
                margin-bottom: 8px;
                width:100%;
            }
        }
        &__info {
            position: absolute;
            bottom:19px;
            left:19px;
        }
        &__meta {
            display:flex;
            span {
                @include text-preset4-mobile;
                opacity:79%;
            }
            img[alt="category-img"] {
                margin-right: rem(8);
                height:14px;
            }
        }
    }
}
.movie-card__info-divider {
    margin: 0 rem(8) 0 rem(8);
}
.swiper-slide {
    flex-shrink: 0;
    width: auto;
}
.swiper-wrapper {
    box-sizing: border-box;
}
.swiper {
    padding-right: 132px !important;
    /* = spaceBetween */
}

@include desktop-media {
    .trending {
        &__title {
            margin-left: 149px;
            @include text-preset1;
        }
        .movies__search-result-title {
            margin-left: 149px;
        }
        .movie-card-trending {
            &__title {
                @include text-preset3;
            }
        }
    }
}
