@use "./base/functions" as *;
@use "./base/variables" as *;
@use "./base/mixin" as *;

@use "base/reset";
@use "base/basic";
@use "base/fonts";

@use "layout/login";
@use "layout/sign-up";
@use "layout/header";
@use "layout/search";
@use "layout/recomendation";
@use "layout/movies";
@use "layout/tv-series";
@use "layout/bookmarked";
@use "layout/account";
@use "layout/trending";