@font-face {
    font-family: "Outfit Light";
    src: url("../../assets/fonts/static/Outfit-Light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Outfit Medium";
    src: url("../../assets/fonts/static/Outfit-Medium.woff2") format("woff2");
    font-weight: 400;
}