@mixin text-preset1 { font-size: 32px; line-height: 125%; letter-spacing: -0.5px; }
@mixin text-preset1-mobile { font-size: 20px; line-height: 125%; letter-spacing: -0.3px; }
@mixin text-preset2-medium { font-size: 24px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset2-light { font-size: 24px; line-height: 125% ; letter-spacing: 0px; }
@mixin text-preset2-mobile { font-size: 16px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset3 { font-size: 18px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset3-mobile { font-size: 15px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset4 { font-size: 15px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset4-mobile { font-size: 14px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset5 { font-size: 13px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset5-mobile { font-size: 12px; line-height: 125%; letter-spacing: 0px; }
@mixin text-preset6-mobile { font-size: 11px; line-height: 125%; letter-spacing: 0px; }