
$white:#FFFFFF;
$black:#000000;
$blue950:#10141E;
$blue900:#161D2F;
$blue500:#5A698F;
$red500:#FC4747;
$gradient:linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75));

$mini-mobile:330px;
$tablet:768px;
$desktop:1440px;